
body {
    font-family: 'Comfortaa', cursive;
}

#title-container{
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

#SocketNew{
    background: #161616;
    color: #fff;
    font-size: 16px;
    border: 0;
    padding: 5px 0;
    width: 10%;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Comfortaa', cursive;
    margin:5px 60%;
}

#variable-container {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .3);
    border-radius: 10px 10px 10px 10px;
}

#variable-window {
    padding:0;
    margin: 10px 5px;
    color: rgb(26, 26, 26);
    text-align: center;
  
}

#output {
    padding: 8px 0;
    color: rgb(59, 59, 59);
    margin: 0 35px;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
}

#col {
    background: #ffbebe;
}

#output2 {
    padding: 14px 0;
    color: rgb(59, 59, 59);
    margin: 0 20px;
    font-family: 'Comfortaa', cursive;
}

#Btn_Container{
    columns: 2;
    margin: 15px 0 10px 10%;
    width: 80%;
}

#miinput {
    padding: 5px 20px;
    box-sizing: border-box;
    border: 0;
    background: #eee;
    display: block;
    width: 80%;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    margin:0px 0 0 10%;
}

#mibutton{
    background: #4ba3dd;
    color: #fff;
    font-size: 14px;
    border: 0;
    padding: 3px 0;
    width: 90%;
    height: 25px;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Comfortaa', cursive;
    margin:3px 0 3px 5%;
    
}



